@model WhoseShoutAgainApplication.Models.coffeeDate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>coffeeDate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colleague.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colleague.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
